<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new list</h1>
        </div>
        <form method="post">
            <label>Name:</label>
            <input type="text" name="name">
            {% csrf_token %}
            <button>Create</button>
        </form>
    </main>
</body>

</html>
