<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>{{ list_object.name }}</h1>
        <div>
            <p><a href="{% url 'todo_list_update' list_object.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' list_object.id %}">Delete</a></p>
        </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <th>Task</th>
                <th>Due Date</th>
            </thead>
            <tbody>
                {% for item in list_object.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' item.id %}">{{item.task}}</a></td>
                    <td>{{item.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
