<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                <label>Name:</label>
                <input type="text" name="name">
                {% csrf_token %}
                <button>Update</button>
        </div>
    </main>

</body>

</html>
